<div class="head">
  <span class="brand"><a href="/">Geek Reader</a></span>
  <div class="dropdown pull-right" data-toggle="dropdown">
    <a data-toggle="dropdown" class="glyphicon glyphicon-align-right pull-right" href="#"></a>
    <ul class="dropdown-menu"  aria-labelledby="dropdownMenu1">
      <li><a href="#" class="settings">Settings</a></li>
      <li class="divider"></li>
      <li>
        <a href="#"><%=current_user.email%></a>
        <%=link_to "Logout", :logout, :method=>:delete %>
      </li>
    </ul>
  </div>
  <div class="toggle_fullscreen">
    <i class="glyphicon glyphicon-resize-full" title="expand menu"></i>
    <i class="glyphicon glyphicon-resize-small" title="minimize menu"></i>
  </div>
</div>
<div id="menu" class="body">
  <ul>
    <li class="new_sub">
      <div>
        <i class="glyphicon glyphicon-plus-sign"></i>
        <span>new subscription</span>
      </div>
    </li>
    <li class="unread">
      <div>
        <a href="#unread">
          <i class="glyphicon glyphicon-unchecked"></i>
          <!--<a href="#unread">unread</a>-->
          <span title="todo" >unread</span>
        </a>
      </div>
    </li>
    <li class="starred">
      <div>
        <a href="#starred">
          <i class="glyphicon glyphicon-star"></i>
          <span title="todo">starred</span>
          <!--<a href="#starred">starred</a>-->
        </a>
      </div>
    </li>
    <li class="search">
      <div>
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" role="search" placeholder="search (todo)"/>
      </div>
    </li>
    <li>
      <div>
        <i class="glyphicon glyphicon-folder-close"></i>
        <span class="all">all subscriptions</span>
      </div>
    </li>
  </ul>
  <ul id="categories"></ul>
</div>
