<div>
  <span class="brand"><a href="/">Geek Reader</a></span>
  <div class="dropdown pull-right" data-toggle="dropdown">
    <a data-toggle="dropdown" class="glyphicon glyphicon-align-right pull-right" href="#"></a>
    <ul class="dropdown-menu"  aria-labelledby="dropdownMenu1">
      <li><%=link_to "Settings", :settings, :method=>:get%></li>
      <li class="divider"></li>
      <li><%=link_to "Logout", :logout, :method=>:delete %>
        <a href="#"><%=current_user.email%></a></li>
    </ul>
  </div>
</div>
<div id="menu">
  <ul>
    <li>
      <div>
        <i class="glyphicon glyphicon-plus-sign"></i>
        <span class="new_sub">new subscription</span>
      </div>
    </li>
    <li>
      <div>
        <i class="glyphicon glyphicon-unchecked"></i>
        <!--<a href="#unread">unread</a>-->
        <span title="todo" >unread (todo)</span>
      </div>
    </li>
    <li>
      <div>
        <i class="glyphicon glyphicon-star"></i>
        <span title="todo">starred (todo)</span>
        <!--<a href="#starred">starred</a>-->
      </div>
    </li>
    <li class="search">
      <div>
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" role="search" placeholder="search (todo)"/>
      </div>
    </li>
    <li>
      <div>
        <i class="glyphicon glyphicon-folder-close"></i>
        <span class="all">all subscriptions</span>
      </div>
    </li>
    <!--<li>groups</li>-->
  </ul>
  <ul id="categories"></ul>
</div>
