<div class="container" id="main">

  <div class="menu_col ">
    <%= render "menu" %>
  </div>


  <div class="content_col">
    <%= render "display" %>
  </div>
</div>

<footer id="footer">
  &copy;derek zeng, 2014
</footer>