

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="preference">
    <h1>preference</h1>
  </div>
  <div class="tab-pane" id="categories">
    <h1>Manage Categories</h1>
  </div>
  <div class="tab-pane" id="subscriptions">
    <%= render "subscriptions" %>
  </div>
  <div class="tab-pane" id="password">...</div>
</div>