#style_editor {
  margin: 0;
  position: fixed;
  padding: 0;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;

  #editor {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .controls {
    position: fixed;
    bottom: 10px;
    display: inline;
    right: 20px;
  }
}

