@media (min-width: 600px) {

  body.fullscreen {
    .menu_col {
      position: absolute;
      left: -$menu_width;
      .toggle_fullscreen {
        right: -30px;
        [class$=small] {
          display: none;
        }
        [class$=full] {
          display: block;
        }
      }
    }
    .content_col {
      width: 90%;
      margin: 0 5%;
    }
  }
}