
$top: 8px;
$left: 16pt;

@mixin  item {
  margin: 0;
  border-top: 1px solid #f3f3f3;
  font-size: 11pt;
  text-transform: capitalize;
  padding: $top 4px;
  position: relative;
  padding-left: $left+4px;
  i {
    position: absolute;
    top: $top + 4px;
    left: 4px;
  }

}

@mixin hover_style {
  &:hover {
    cursor: pointer;
    background-color: #dddddd;
  }
}

@mixin normal_icon {
  position: relative;
  top: 2px;
  left: -4px;
}

@mixin menu {
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    background-color: white;
    list-style: none;
  }


  a {
    color: #000000;
    &:hover {
      text-decoration: none;
    }
  }

  #menu {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    >ul:first-child {
      >li {
        @include hover_style;
        &.search:hover {
          cursor: text;
          background-color: #ffffff;
        }
        >div {
          @include item;
          span:hover {
            cursor: pointer;
          }
          span {
            display: block;
          }
        }
        input.search {
          outline: none;
        }
      }

      [role=search] {
        border: #f3f3f3;
      }
    }
  }

  #categories {
    .category {
      &.open {
        >div {
          >i:nth-child(2) {
            position: absolute;
            left: -1000px;
          }
          >i:nth-child(1) {
            @include normal_icon;
          }
        }
      }
      >div {
        @include hover_style;
        @include item;
        padding-left: 20px;
        &:hover {
          cursor: pointer;
        }
        >i:nth-child(1) {
          position: absolute;
          left: -1000px;
        }
        >i:nth-child(2) {
          @include normal_icon;
        }
      }
      .feeds {
        .feed {
          @include hover_style;
          @include item;
          .unread {
            font-weight: bold;
            color: #c0c0c0;
          }
          padding-left: $left + 20px;
          a {
            color: black;
            display: block;
            &:hover {
              text-decoration: none;
            }
          }
          font-weight: normal;
          &.open {
//            font-weight: bold;
          }
        }
      }
    }
    .category:first-child {
      border-top: none;
    }
  }
}
