@mixin col_head {
  span, a[data-toggle] {
    font-size: 12pt;
    font-weight: bold;
  }
  padding: 4px;
  padding-right: 0;
  border-bottom: 1px solid black;
}
@mixin h($i) {
  h#{$i} {
    font-size: 10pt + 5pt / $i;
  }
}