@media (max-width: 600px) {
  form.new_feed {
    z-index: 4;
    >div {
      width: 100% !important;
    }
  }

  div.container {
    padding: 0;
    .menu_col {
      position: absolute;
      width: 100%;
      left: -100%;
      z-index: 3;
      @include animation-name(slideOut);
      @include animation-duration(0.2s);
      @include animation-timing-function(linear);
    }
    i.refresh {
      top: 10px !important;
      right: 2px !important;
    }
    .content_col {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      .content {
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
      .head {
        i {
          margin-right: 10px;
          display: inline-block;
        }
      }
    }
    .content_col, .feed_title {
      z-index: 2;
    }

    .content_col, .menu_col {
      height: 100%;
      background-color: #ffffff;

      &>div:first-child {
        padding: 8px 4px;
        height: auto;
        span {
          display: inline;
          line-height: 1.2em;
        }
        a[data-toggle] {
          line-height: 1.2em;
        }
      }
    }
  }

  div.container.show_menu {
    .menu_col {
      @include animation-name(slideIn);
      @include animation-duration(0.2s);
      @include animation-timing-function(linear);
      left: 0%;
    }
    .content_col {
    }
  }
}
