@import "bourbon";
@import "variables";
@import "mixins";
@import "content";
@import "menu";
@import "mobile";

@include keyframes(loading) {
  from {
    @include transform(rotate(0));
  }
  to {
    @include transform(rotate(360deg));
  }
}

@include keyframes(slideIn) {
  from {
    left: -100%;
  }
  to {
    left: 0%
  }
}

@include keyframes(slideOut) {
  from {
    left: 0%;
  }
  to {
    left: -100%
  }
}

html, body {
  width: 100%;
  .container {
    width: 100%;
    padding: 0;
  }
//  ugly
//  font: 10pt/12pt 'trebuchet ms', verdana, helvetica, arial, sans-serif;
}

.content_col, .menu_col {
  float: left;
  margin: 0;
  padding: 0;
}

.content_col {
  width: 69%;
  margin-left: 1%;
//  @include col_title;
  .content {
    @include content;
  }
}

.menu_col {
  width: 30%;
  .head {
    @include col_head;
  }
  a[data-toggle] {
    &:hover {
      background: none;
      color: #000000;
    }
    &:focus {
      outline: none;
    }
    &:visited {
    }
    text-decoration: none;
  }
  @include menu;
}

footer {
//  text-align: center;
  display: none;
  padding-left: 10px;
  border-top: 1px solid lightgrey;
  color: lightgrey;
  background-color: lighten($gr_blue, 30%);
}

form.new_feed {
  position: absolute;
  top: 0px;
  width: 100%;
  >div {
    box-shadow: 0 0 10px 5px darken(#f3f3f3, 30%);
    margin: 30px auto;
    width: 400px;
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
  }
}

form.login, .register {
  padding: 10px;
}