.reader {
  form {
    margin: 20px 0;
    input[type=text] {
      width: 400px;
    }
  }
  .listings {
    position: relative;
  }
  .feeds {
    background-color: #5bc0de;
    li {
      margin: 4px 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .entries {
    background-color: #5bc0de;
    overflow: hidden;
    padding: 0;
    ol {
      margin: 0;
      float: left;
      li {
        margin: 4px;
      }
      display: none;
      &.show {
        display: block;
      }
    }
  }
  .article {
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #afd9ee;
    display: none;
    &.show {
      display: block;
    }
    padding: 10px;
  }

}

.menu {
  li {
    list-style: none;
    margin: 0;
    border-top: 1px solid #f3f3f3;
    padding: 0;
    i {
      margin-right: 10px;
    }
    >div {
      margin: 10px;
    }
  }
  [role=search] {
    border: #f3f3f3;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  div + ul {
    li {
      padding: 10px 0;
      padding-left: 20px;
      border-left: none;
      border-right: none;
    }
    li:first-child {
      border-top: none;
    }
  }
  margin: 0;
  padding: 0;
}

form.new_feed {
  position: absolute;
  top: 0px;
  width: 100%;
  >div {
    margin: 300px auto;
    width: 400px;
  }
}