@mixin content {
  .head {
    @include col_head;
    >div {
      display: inline-block;
    }
    i {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  height: 100%;
  position: relative;
  width: 100%;
  @include entries;

  >.empty {
    font-size: 14pt;
    font-weight: bold;
    margin: 20px;
    &:hover {
      cursor: pointer;
      color: #dddddd;
    }
  }
}

@mixin content_col {
  .content_col {
    width: 100% - $menu_width - 1%;
    margin-left: 1%;
    .content {
      @include content;
    }
  }
}