div#settings {
  @extend .popup;
  .tab-content {
    padding: 0px;
    overflow-y: auto;
  }
  .nav-tabs {
    li {
      padding: 0;
      a {
        border-radius: 0;
      }
    }
  }
  >div {
    height: auto !important;
    max-height: 80%;
    position: relative;
    .close {
      position: absolute;
      right: 2px;
      top: 2px;
    }
    .glyphicon {
      margin: 2px;
    }
    ol {
      margin-top: 0px;
      li {
        list-style: none;
      }
      padding-left: 0px;
    }
    li {
      border-bottom: 1px solid white;
      margin: 0;
      padding: 4px 10px;
    }
    .feed_url {
      color: #c0c0c0;
    }
    .feed_description {
      font-style: italic;
    }
    .form-group {
      margin: 10px;
    }
  }
}